<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClassTable.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.13.1.0" newVersion="2.13.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExcelNumberFormat" publicKeyToken="23c6f5d73be07eca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <ClassTable.MySettings>
      <setting name="WindowMode" serializeAs="String">
        <value>Wide</value>
      </setting>
      <setting name="BackgroundColor_Red" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BackgroundColor_Green" serializeAs="String">
        <value>96</value>
      </setting>
      <setting name="BackgroundColor_Blue" serializeAs="String">
        <value>96</value>
      </setting>
      <setting name="BackgroundColor_Alpha" serializeAs="String">
        <value>122</value>
      </setting>
      <setting name="ForegroundColor_Red" serializeAs="String">
        <value>255</value>
      </setting>
      <setting name="ForegroundColor_Green" serializeAs="String">
        <value>255</value>
      </setting>
      <setting name="ForegroundColor_Blue" serializeAs="String">
        <value>255</value>
      </setting>
      <setting name="ForegroundColor_Alpha" serializeAs="String">
        <value>255</value>
      </setting>
      <setting name="Mdate" serializeAs="String">
        <value>No</value>
      </setting>
      <setting name="Ndate" serializeAs="String">
        <value>0</value>
      </setting>
    </ClassTable.MySettings>
  </userSettings>
</configuration>