<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClassTable.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ClassTable.MySettings>
            <setting name="WindowMode" serializeAs="String">
                <value>Wide</value>
            </setting>
            <setting name="BackgroundColor_Red" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BackgroundColor_Green" serializeAs="String">
                <value>96</value>
            </setting>
            <setting name="BackgroundColor_Blue" serializeAs="String">
                <value>96</value>
            </setting>
            <setting name="BackgroundColor_Alpha" serializeAs="String">
                <value>122</value>
            </setting>
            <setting name="ForegroundColor_Red" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="ForegroundColor_Green" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="ForegroundColor_Blue" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="ForegroundColor_Alpha" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="Mdate" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="Ndate" serializeAs="String">
                <value>0</value>
            </setting>
        </ClassTable.MySettings>
    </userSettings>
</configuration>